.catego  {
    display: flex;
    justify-content: center;
    margin-top: 7%;

}

.catego a {
    height: 110%;
    width: 110%;
    padding: 10%;
    font-size: 20px;
    border-radius: 10px;
    border: 4px solid #4f4d4d;
    box-shadow: 8px 8px 1px #4f4d4d;
    background-color: #4b805a;
    color: #fff;
    margin-left: 10%;
}


.back {
    margin-top: 3%;
}