.emprunt {
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 70%;
    justify-content: center;
    margin-top: 50px;
    background-color: #82b691;
    border-radius: 3%;
    box-shadow: 7px 7px 3px rgb(79, 77, 77);  

}

.emprunt h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 2%;
    margin-top: 2%;

}

.emprunt h2 {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2%;
    margin-top: 13%;
}

.emprunt p {
    text-align: center;
    font-size: 1.2em;
    text-align: start;
}

.emprunt .info-product {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}

.emprunt form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.emprunt input {
    width: 50%;
    height: 2em;
    margin-bottom: 2%;
    border-radius: 5%;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 2%;
    margin-bottom: 3%;
}

.emprunt label {
    font-size: 1.2em;
}
.emprunt select {
    width: 50%;
    height: 2em;
    margin-bottom: 2%;
    border-radius: 5%;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 2%;
}

.emprunt button {
    background-color: #f8faf8;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px rgb(79, 77, 77);
    font-weight: 500;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 1px rgb(79, 77, 77);
    cursor: pointer;
    width : 10%;
    transition: ease-in-out 20ms;
    text-decoration: none;
    color: black;
    margin-bottom: 5%;
}

.emprunt button:hover {
    background-color: #4f4d4d;
    color: white;
}



.emprunt a {
    background-color: #f8faf8;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px rgb(79, 77, 77);
    font-weight: 500;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 1px rgb(79, 77, 77);
    cursor: pointer;
    width : 10%;
    transition: ease-in-out 20ms;
    text-decoration: none;
    color: black;
    margin-bottom: 5%;

}

.emprunt a:hover {
    background-color: #4f4d4d;
    color: white;
}

.emprunt img {
margin-top: 1%;
width: 170px;
height: 170px;
align-items: center;
margin-left: 42%;
margin-bottom: 5%;
object-fit: cover;
}
