h1 {
  margin: 3% 0 0 0;
}


.grid-case {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.grid-case div {
  height: 100px;
  color: #d9d9d9;
  font-size: 20px;
  background-color: #4b805a;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 3px 0 rgb(77, 77, 77);
}