.title-grid-case {
  margin: 3% 0 0 0;
}

.grid-case {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.grid-case div {
  height: 100px;
  color: #d9d9d9;
  font-size: 20px;
  background-color: #4b805a;
  border-radius: 10px;
  border: 4px solid #6b6565;
  box-shadow: 8px 8px #6b6565;
  display: flex;
  justify-content: center;
  align-items: center;

}