.tableau-client {
    width: 100%;
   margin: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-left: 3%;


}

.tableau-client img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


h1 {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: #4d4d4d;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 3%;
}

tbody {
    box-shadow: 8px 8px 1px #4f4d4d;
}

tr {
    text-align: center;
    border-radius: 4px;
}

th{
    color: rgb(255, 255, 255);
    padding: 15px;
    vertical-align: middle;
    font-size: 14px;
    font-weight: 600;
    color: #efedea;
}

td {
    padding: 30px;
    text-align: center;
    color: #000000a2;
    font-weight: 700;
    vertical-align: middle;
}

tr:nth-child(even) {
    background-color: #4B805A;
}
tr:nth-child(even) td {
    color: #ffffff;
}


.menutable {
    background-color:#3e5c46;
    box-shadow: 8px 10px 1px #4f4d4d;
    border-radius: 0;
}

.modifier{
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    justify-content: center;
}
.modifier .change{
    background-color: #f8faf8;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px rgb(79, 77, 77);
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 1px rgb(79, 77, 77);
    cursor: pointer;
    width : 100%;
    transition: ease-in-out 20ms;
}

.modifier .borrow{
    background-color: #f8faf8;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px rgb(79, 77, 77);
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 1px rgb(79, 77, 77);
    cursor: pointer;
    width : 100%;
    transition: ease-in-out 20ms;

}

.modifier .delete{
    background-color: #f8faf8;
    border-radius: 10px;
    padding: 7px;
    border: solid 2px rgb(79, 77, 77);
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    box-shadow: 5px 3px 1px rgb(79, 77, 77);
    cursor: pointer;
    width : 100%;
    transition: ease-in-out 20ms;
}

.modifier .change:hover{
    background-color:#5a8d68 ;
    color:#efedea;
}

.modifier .borrow:hover{
    background-color:#5a8d68 ;
    color:#efedea;

}

.modifier .delete:hover{
    background-color: rgb(171, 95, 95);
    color: #efedea;
}


.change{
   width : 63%;
}

.borrow{

}

.delete {
    color: rgb(217, 39, 39);
}

